<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Applications</title>
    <link href="../static/css/style.css" th:href = "@{/css/style.css}" rel="stylesheet" media="screen">
    <link href="../static/css/all-applications.css" th:href = "@{/css/all-applications.css}" rel="stylesheet" media="screen">

</head>
<body>
<div th:replace="~{header :: header}">Header</div>


<div class="centered" th:each="internshipApplication : ${internshipApplications}">

<div class="card">
    <div class="job-title">
            <h3 th:text="${internshipApplication.internship.title}"></h3>

    </div>
    <div class="job-location">
        <i class="fa" th:text="${internshipApplication.status}"></i>
    </div>


    <div class="job-apply">
        <a style=" text-decoration:none " class="search-buttons card-buttons" th:href="@{/application/{internshipApplication}(internshipApplication=${internshipApplication.getId()})}">view Application</a>
    </div>
</div>

</div>

</body>
</html>
